@font-face {
    font-family: CHEQ;
    src: url("./fontes/CHEQ_TT.TTF");
}

*{
    padding: 0;
    margin: 0;
    
    font-family: CHEQ;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;

}

html{
    height: 100%;
}

body{
    background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"), url("./resources/background1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

table{
    border-collapse: collapse;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.555);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: beige;
    padding: 12px;
}


td.preta{
    background-color: rgb(186, 140, 99);
}

td:hover{
    background-color: yellow;
}


footer{
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: rgb(30, 30, 30);
    border: 2px solid rgb(30, 30, 30);
    max-height: 50px;
    text-align: center;
    width: 43%;
    display: inline-block;

}
footer p, footer jogador{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: lighter;
}






